<check if="{{ @hhID != null }}">
	<true>
		<form action="{{ @BASE.'/biz/create' }}" validate="true" method="post" class="form-horizontal">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" required="required" name="busName" id="busName"/>
			</div>


			<div class="form-group">
				<label for="type">Type</label>
				<select class="custom-select" name="type" required="required" id="type">
					<repeat group="{{ @bustypes }}" value="{{ @type }}">
						<option value="{{@type}}"
						>{{trim(@type)}}
						</option>
					</repeat>
				</select>
			</div>

			<div class="control-group">
				<div class="">
					<input type="text" name="hptrap" class="hptrap"/>
					<input type="hidden" name="hhID" value="{{ @hhID }}"/>
					<input type="hidden" name="nhID" value="{{ @nhID }}"/>
					<input type="hidden" name="userID" value="{{@SESSION.user[2]}}"/>
					<input type="hidden" name="create" value="create"/>
					<button type="submit" class="btn btn-primary"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add
						Business
					</button>
					<a href="{{ @BASE.'/biz' }}" class="btn btn-secondary"><i class="fa fa-times mr-2"
																			  aria-hidden="true"></i>Cancel</a>
				</div>
			</div>
		</form>
	</true>
	<false>
		<div class="form-group">
			<label for="hh">Which household is this Business part of?</label>
			<select class="custom-select" name="hh" id="hh">
				<option value="">-- Create new household --</option>
				<repeat group="{{ @households }}" value="{{ @household }}">
					<option value="{{ @household.hhID }}">{{ @household.name }}</option>
				</repeat>
			</select>
		</div>
		<a href="" id="url" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>
		<a href="{{ @BASE.'/biz' }}" class="btn btn-secondary"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
	</false>
</check>
<script>
	$(function () {
		$('#url').attr("href", "{{ @BASE.'/household/create/' }}");

		$("#hh").change(function () {
			let v = $("#hh").children("option:selected").val();
			if (v !== "") {
				$('#url').attr("href", "{{ @BASE.'/biz/create/' }}" + v);
			} else {
				$('#url').attr("href", "{{ @BASE.'/household/create/' }}");
			}
		});
	});

</script>
