<form action="{{ @BASE.'/biz/update' }}" validate="true" method="post" class="form-horizontal">

	<div class="form-row">
		<div class="form-group col">
			<label for="busName">Name</label>
			<input type="text" required="required" class="form-control" name="busName" value="{{ trim(@biz.busName) }}"
				   id="busName"/>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label for="type">Type</label>
			<select class="custom-select" name="type" required="required" id="type">
				<repeat group="{{ @bustypes }}" value="{{ @type }}">
					<option value="{{@type}}"
					<check if="{{ @biz.type == @type}}">
						selected
					</check>
					>{{trim(@type)}}</option>
				</repeat>
			</select>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label for="owner">Owner</label>
			<select class="custom-select" name="owner" id="owner">
				<option value="">-- N/A --</option>
				<repeat group="{{ @sims }}" value="{{ @owner }}">
					<option value="{{@owner.id}}"
					<check if="{{ @owner.id == @biz.owner}}">
						selected
					</check>
					>{{trim(@owner.firstName)}}</option>
				</repeat>
			</select>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label for="rank">Rank</label>
			<input type="number" class="form-control" id="rank" min="0" max="10" name="rank" value="{{@biz.rank}}"/>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<label for="review">Review</label>
			<select class="custom-select" name="review" id="review">
				<option value="">None</option>
				<option value="Good"
				<check if="{{ @biz.review == 'Good'}}">
					selected
				</check>
				>Good</option>
				<option value="Bad"
				<check if="{{ @biz.review == 'Bad'}}">
					selected
				</check>
				>Bad</option>
			</select>
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col">
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" name="bestAward" id="bestAward"
				<check if="{{ @biz.bestAward == 1}}">
					checked
				</check>
				>
				<label class="custom-control-label" for="bestAward">Best of the Best Award</label>
			</div>
		</div>
	</div>


	<!-- Hidden fields and form submission -->
	<div class="control-group">
		<div class="">
			<input type="text" name="hptrap" class="hptrap"/>
			<input type="hidden" name="update" value="update"/>
			<input type="hidden" name="id" value="{{ @biz.id }}"/>
			<input type="hidden" name="modified" value="{{ @modified }}"/>
			<button type="submit" name="save" class="btn btn-success mb-3"><i class="fa fa-save mr-2"
																			  aria-hidden="true"></i>Save
			</button>
			<a href="{{ @BASE.'/biz' }}" class="btn btn-secondary mb-3"><i class="fa fa-times mr-2"
																		   aria-hidden="true"></i>Cancel</a>
		</div>
	</div>
</form>

<script type="text/javascript">s2path = '{{@BASE}}{{@s2path}}';</script>