<form action="{{ @BASE.'/user/pcareer/create' }}" autocomplete="off" validate="true" method="post"
	  class="form-horizontal">

	<div class="form-row">
		<div class="col">
			<div class="form-group">
				<label for="careerName">Career Name</label>
				<input type="text" class="form-control" name="careerName" id="careerName">
			</div>
		</div>
	</div>

	<div class="control-group">
		<div class="">
			<input type="hidden" name="money" value=""/>
			<input type="text" name="hptrap" class="hptrap"/>
			<input type="hidden" name="create" value="create"/>
			<button type="submit" class="btn btn-primary"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Career
			</button>
			<a href="{{ @BASE.'/user/careers' }}" class="btn btn-secondary"><i class="fa fa-times mr-2"
																			   aria-hidden="true"></i>Cancel</a>
		</div>
	</div>
</form>
