<h3 class="text-primary">{{ @cat }} <a href="#" class="badge badge-pill badge-secondary" aria-label="More details"
									   data-toggle="collapse" data-target="#gravesHelp" aria-expanded="false"
									   aria-controls="gravesHelp">
	<i aria-hidden="true" data-toggle="tooltip" title="More details" class="fas fa-question"></i></a>
	</a></h3>
<div class="collapse" id="gravesHelp">
	<div class="card card-body">
		<blockquote>
			This is a really simple category. You get half a point for every platinum grave that remains on the lot. It
			does not matter which aspiration the grave is, only that it is platinum. To gain a platinum grave, a sim
			must die of old age while in platinum.
			<br/><br/>
			Points earned over 10 carry over to the overflow category.<br/><br/>
			<cite>~ SimsLegacyChallenge.com</cite>
		</blockquote>
	</div>
</div>
<div class="form-row">
	<div class="col">
		<div class="form-group">
			<label for="familycount">Family</label>
			<input type="number" class="form-control" min="0" oninput="familyChange(value)"
				   value="{{ trim(@s2legacy.familycount) }}" id="familycount" name="familycount"/>
		</div>
		<div class="form-group">
			<label for="wealthcount">Wealth</label>
			<input type="number" class="form-control" min="0" oninput="wealthChange(value)"
				   value="{{ trim(@s2legacy.wealthcount) }}" id="wealthcount" name="wealthcount"/>
		</div>
		<div class="form-group">
			<label for="knowledgecount">Knowledge</label>
			<input type="number" class="form-control" min="0" oninput="knowledgeChange(value)"
				   value="{{ trim(@s2legacy.knowledgecount) }}" id="knowledgecount" name="knowledgecount"/>
		</div>
		<div class="form-group">
			<label for="friendshipcount">Popularity</label>
			<input type="number" class="form-control" min="0" oninput="friendshipChange(value)"
				   value="{{ trim(@s2legacy.friendshipcount) }}" id="friendshipcount" name="friendshipcount"/>
		</div>
		<div class="form-group">
			<label for="romancecount">Romance</label>
			<input type="number" class="form-control" min="0" oninput="romanceChange(value)"
				   value="{{ trim(@s2legacy.romancecount) }}" id="romancecount" name="romancecount"/>
		</div>
		<div class="form-group">
			<label for="pleasurecount">Pleasure <img src="{{@BASE}}{{@s2path}}NL.png" alt="Needs Nightlife"><img
					src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"><img src="{{@BASE}}{{@s2path}}Pets.png"
																		   alt="Needs Pets"><img
					src="{{@BASE}}{{@s2path}}Seasons.png" alt="Needs Seasons"><img src="{{@BASE}}{{@s2path}}BV.png"
																				   alt="Needs BV"><img
					src="{{@BASE}}{{@s2path}}FT.png" alt="Needs FT"><img src="{{@BASE}}{{@s2path}}AL.png"
																		 alt="Needs AL"></label>
			<input type="number" class="form-control" min="0" oninput="pleasureChange(value)"
				   value="{{ trim(@s2legacy.pleasurecount) }}" id="pleasurecount" name="pleasurecount"/>
		</div>
		<div class="form-group">
			<label for="cheesecount">Grilled Cheese <img src="{{@BASE}}{{@s2path}}NL.png" alt="Needs Nightlife"><img
					src="{{@BASE}}{{@s2path}}OFB.png" alt="Needs OFB"><img src="{{@BASE}}{{@s2path}}Pets.png"
																		   alt="Needs Pets"><img
					src="{{@BASE}}{{@s2path}}Seasons.png" alt="Needs Seasons"><img src="{{@BASE}}{{@s2path}}BV.png"
																				   alt="Needs BV"><img
					src="{{@BASE}}{{@s2path}}FT.png" alt="Needs FT"><img src="{{@BASE}}{{@s2path}}AL.png"
																		 alt="Needs AL"></label>
			<input type="number" class="form-control" min="0" oninput="cheeseChange(value)"
				   value="{{ trim(@s2legacy.cheesecount) }}" id="cheesecount" name="cheesecount"/>
		</div>
	</div>
</div>
<input type="hidden" name="gravestotal" id="gvt" value="{{ trim(@s2legacy.gravestotal) }}">
<p class="lead mt-3"><b>Sub total:
	<output id="gravestotal" for="gvt">
		<span
		<check if="{{ @s2legacy.gravestotal }} == 0">class="badge badge-primary"</check>
		<check if="{{ @s2legacy.gravestotal }} > 0">class="badge badge-success"</check>
		<check if="{{ @s2legacy.gravestotal }} < 0">class="badge badge-danger"</check>
		>
		{{ trim(@s2legacy.gravestotal) }}
		</span></output>
</b></p>

<script>
	$(function () {
		let fa = $("#familycount").val();
		let w = $("#wealthcount").val();
		let k = $("#knowledgecount").val();
		let fr = $("#friendshipcount").val();
		let r = $("#romancecount").val();
		let p = $("#pleasurecount").val();
		let c = $("#cheesecount").val();
		gravesSub(fa, w, k, fr, r, p, c);
	});

	function familyChange(fa) {
		let w = $("#wealthcount").val();
		let k = $("#knowledgecount").val();
		let fr = $("#friendshipcount").val();
		let r = $("#romancecount").val();
		let p = $("#pleasurecount").val();
		let c = $("#cheesecount").val();
		document.querySelector('#familycount').value = fa;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function wealthChange(w) {
		let fa = $("#familycount").val();
		let k = $("#knowledgecount").val();
		let fr = $("#friendshipcount").val();
		let r = $("#romancecount").val();
		let p = $("#pleasurecount").val();
		let c = $("#cheesecount").val();
		document.querySelector('#wealthcount').value = w;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function knowledgeChange(k) {
		let fa = $("#familycount").val();
		let w = $("#wealthcount").val();
		let fr = $("#friendshipcount").val();
		let r = $("#romancecount").val();
		let p = $("#pleasurecount").val();
		let c = $("#cheesecount").val();
		document.querySelector('#knowledgecount').value = k;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function friendshipChange(fr) {
		let fa = $("#familycount").val();
		let k = $("#knowledgecount").val();
		let w = $("#wealthcount").val();
		let r = $("#romancecount").val();
		let p = $("#pleasurecount").val();
		let c = $("#cheesecount").val();
		document.querySelector('#friendshipcount').value = fr;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function romanceChange(r) {
		let fa = $("#familycount").val();
		let k = $("#knowledgecount").val();
		let fr = $("#friendshipcount").val();
		let w = $("#wealthcount").val();
		let p = $("#pleasurecount").val();
		let c = $("#cheesecount").val();
		document.querySelector('#romancecount').value = r;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function pleasureChange(p) {
		let fa = $("#familycount").val();
		let k = $("#knowledgecount").val();
		let fr = $("#friendshipcount").val();
		let r = $("#romancecount").val();
		let w = $("#wealthcount").val();
		let c = $("#cheesecount").val();
		document.querySelector('#pleasurecount').value = p;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function cheeseChange(c) {
		let fa = $("#familycount").val();
		let k = $("#knowledgecount").val();
		let fr = $("#friendshipcount").val();
		let r = $("#romancecount").val();
		let p = $("#pleasurecount").val();
		let w = $("#wealthcount").val();
		document.querySelector('#cheesecount').value = c;
		gravesSub(fa, w, k, fr, r, p, c);
	}

	function gravesSub(fa, w, k, fr, r, p, c) {
		let result = (fa * 0.5) + (w * 0.5) + (k * 0.5) + (fr * 0.5) + (r * 0.5) + (p * 0.5) + (c * 0.5);

		if (result > 10) {
			let o = result - 10;
			result = 10;
			$("#ograves").val(o);
			ogravesChange(o);
		} else {
			$("#ograves").val(0);
			ogravesChange(0);
		}
		$("#gravestotal").val(result);
		$("#gvt").val(result);
		gtChange();

		if (result == 0) {
			$('#gravestotal').removeClass('badge badge-danger');
			$('#gravestotal').removeClass('badge badge-success');
			$('#gravestotal').addClass('badge badge-primary');
		}


		if (result > 0) {
			$('#gravestotal').removeClass('badge badge-danger');
			$('#gravestotal').removeClass('badge badge-primary');
			$('#gravestotal').addClass('badge badge-success');
		}

		if (result < 0) {
			$('#gravestotal').removeClass('badge badge-primary');
			$('#gravestotal').removeClass('badge badge-success');
			$('#gravestotal').addClass('badge badge-danger');
		}
	}
</script>