<h3 xmlns="http://www.w3.org/1999/html">Basic information</h3>
<div class="row">
	{* Gender *}
	<div class="col">
		<check if="{{ @sim.gender == 'F'}}">
			<img src="{{@BASE}}{{@s2path}}Female.png" alt="Female" data-toggle="tooltip" title="Female"/>
		</check>
		<check if="{{ @sim.gender == 'M'}}">
			<img src="{{@BASE}}{{@s2path}}Male.png" alt="Male" data-toggle="tooltip" title="Male"/>
		</check>
		<input hidden id="gender" value="{{trim(@sim.gender)}}"/>
	</div>
	{* Gender pref. *}
	<div class="col">
		<check if="{{ @sim.preference == 'Males'}}">
			<img src="{{@BASE}}{{@s2path}}pref_male.png" alt="Prefers Males" data-toggle="tooltip"
				 title="Prefers Males"/>
		</check>
		<check if="{{ @sim.preference == 'Females'}}">
			<img src="{{@BASE}}{{@s2path}}pref_female.png" alt="Prefers Females" data-toggle="tooltip"
				 title="Prefers Females"/>
		</check>
		<check if="{{ @sim.preference == 'Both'}}">
			<img src="{{@BASE}}{{@s2path}}pref_both.png" alt="Bisexual" data-toggle="tooltip" title="Bisexual"/>
		</check>
		<check if="{{ @sim.preference == 'Neither'}}">
			<img src="{{@BASE}}{{@s2path}}pref_neither.png" alt="No attraction/unknown" data-toggle="tooltip"
				 title="No attraction/unknown"/>
		</check>
	</div>
	{* Age *}
	<div class="col">
		<input hidden id="age" value="{{trim(@sim.age)}}"/>
		<check if="{{ @sim.age == 'Infant'}}">
			<img src="{{@BASE}}{{@s2path}}Age0.png" alt="Infant" data-toggle="tooltip" title="Infant"/>
		</check>
		<check if="{{ @sim.age == 'Toddler'}}">
			<img src="{{@BASE}}{{@s2path}}Age1.png" alt="Toddler" data-toggle="tooltip" title="Toddler"/>
		</check>
		<check if="{{ @sim.age == 'Child'}}">
			<img src="{{@BASE}}{{@s2path}}Age2.png" alt="Child" data-toggle="tooltip" title="Child"/>
		</check>
		<check if="{{ @sim.age == 'Teen'}}">
			<img src="{{@BASE}}{{@s2path}}Age3.png" alt="Teen" data-toggle="tooltip" title="Teen"/>
		</check>
		<check if="{{ @sim.age == 'Young Adult'}}">
			<img src="{{@BASE}}{{@s2path}}AgeYA.png" alt="Young Adult" data-toggle="tooltip" title="Young Adult"/>
		</check>
		<check if="{{ @sim.age == 'Adult'}}">
			<img src="{{@BASE}}{{@s2path}}Age4.png" alt="Adult" data-toggle="tooltip" title="Adult"/>
		</check>
		<check if="{{ @sim.age == 'Elder'}}">
			<img src="{{@BASE}}{{@s2path}}Age5.png" alt="Elder" data-toggle="tooltip" title="Elder"/>
		</check>
	</div>
	{* Skin *}
	<div class="col">
		<check if="{{ @sim.skintone == 'Light'}}">
			<img src="{{@BASE}}{{@s2path}}S1.png" alt="Light skintone" data-toggle="tooltip" title="Light skintone"/>
		</check>
		<check if="{{ @sim.skintone == 'Tan'}}">
			<img src="{{@BASE}}{{@s2path}}S2.png" alt="Tan skintone" data-toggle="tooltip" title="Tan skintone"/>
		</check>
		<check if="{{ @sim.skintone == 'Mid'}}">
			<img src="{{@BASE}}{{@s2path}}S3.png" alt="Mid skintone" data-toggle="tooltip" title="Mid skintone"/>
		</check>
		<check if="{{ @sim.skintone == 'Dark'}}">
			<img src="{{@BASE}}{{@s2path}}S4.png" alt="Dark skintone" data-toggle="tooltip" title="Dark skintone"/>
		</check>
		<check if="{{ @sim.skintone == 'Alien'}}">
			<img src="{{@BASE}}{{@s2path}}S5.png" alt="Alien skintone" data-toggle="tooltip" title="Alien skintone"/>
		</check>
		<check if="{{ @sim.skintone == 'Custom'}}">
			<img src="{{@BASE}}{{@s2path}}S0.png" alt="Custom skintone" data-toggle="tooltip" title="Custom skintone"/>
		</check>
		<check if="{{ @sim.skintone == null}}">
			<img src="{{@BASE}}{{@s2path}}Null.png"/>
		</check>
	</div>
	{* Hair *}
	<div class="col">
		<check if="{{ @sim.hair == 'Blond'}}">
			<img src="{{@BASE}}{{@s2path}}turnon15.png" alt="Blond hair" data-toggle="tooltip" title="Blond hair"/>
		</check>
		<check if="{{ @sim.hair == 'Brown'}}">
			<img src="{{@BASE}}{{@s2path}}turnon17.png" alt="Brown hair" data-toggle="tooltip" title="Brown hair"/>
		</check>
		<check if="{{ @sim.hair == 'Red'}}">
			<img src="{{@BASE}}{{@s2path}}turnon16.png" alt="Red hair" data-toggle="tooltip" title="Red hair"/>
		</check>
		<check if="{{ @sim.hair == 'Black'}}">
			<img src="{{@BASE}}{{@s2path}}turnon18.png" alt="Black hair" data-toggle="tooltip" title="Black hair"/>
		</check>
		<check if="{{ @sim.hair == 'Grey'}}">
			<img src="{{@BASE}}{{@s2path}}turnon5.png" alt="Grey hair" data-toggle="tooltip" title="Grey hair"/>
		</check>
		<check if="{{ @sim.hair == 'Custom'}}">
			<img src="{{@BASE}}{{@s2path}}turnon19.png" alt="Custom hair" data-toggle="tooltip" title="Custom hair"/>
		</check>
		<check if="{{ @sim.hair == null}}">
			<img src="{{@BASE}}{{@s2path}}Null.png"/>
		</check>
	</div>
	{* Eyes *}
	<div class="col">
		<check if="{{ @sim.eyes == 'Dark Blue'}}">
			<img src="{{@BASE}}{{@s2path}}dark_blue_eyes.png" alt="Dark Blue eyes" data-toggle="tooltip"
				 title="Dark Blue eyes"/>
		</check>
		<check if="{{ @sim.eyes == 'Brown'}}">
			<img src="{{@BASE}}{{@s2path}}brown_eyes.png" alt="Brown eyes" data-toggle="tooltip" title="Brown eyes"/>
		</check>
		<check if="{{ @sim.eyes == 'Green'}}">
			<img src="{{@BASE}}{{@s2path}}green_eyes.png" alt="Green eyes" data-toggle="tooltip" title="Green eyes"/>
		</check>
		<check if="{{ @sim.eyes == 'Light Blue'}}">
			<img src="{{@BASE}}{{@s2path}}light_blue_eyes.png" alt="Light Blue eyes" data-toggle="tooltip"
				 title="Light Blue eyes"/>
		</check>
		<check if="{{ @sim.eyes == 'Grey'}}">
			<img src="{{@BASE}}{{@s2path}}grey_eyes.png" alt="Grey eyes" data-toggle="tooltip" title="Grey eyes"/>
		</check>
		<check if="{{ @sim.eyes == 'Alien'}}">
			<img src="{{@BASE}}{{@s2path}}black_eyes.png" alt="Alien eyes" data-toggle="tooltip" title="Alien eyes"/>
		</check>
		<check if="{{ @sim.eyes == 'Custom'}}">
			<img src="{{@BASE}}{{@s2path}}custom_eyes.png" alt="Custom eyes" data-toggle="tooltip" title="Custom eyes"/>
		</check>
		<check if="{{ @sim.eyes == null}}">
			<img src="{{@BASE}}{{@s2path}}Null.png"/>
		</check>
	</div>
</div>

<h4>Traits</h4>
{* Supernatural *}
<check if="{{ @sim.lifeState == 'Deceased'}}">
	<img src="{{@BASE}}{{@s2path}}ghost.png" class="pl-2" data-toggle="tooltip" height="64" title="Ghost" alt="Ghost">
</check>
<check if="{{ @s2sim.isAlien == 1}}">
	<img src="{{@BASE}}{{@s2path}}ufo.png" class="pl-2" data-toggle="tooltip" height="64" title="Alien" alt="Alien">
</check>
<check if="{{ @s2sim.isZombie == 1}}">
	<img src="{{@BASE}}{{@s2path}}turnon29.png" class="pl-2" data-toggle="tooltip" title="Zombie" alt="Zombie">
</check>
<check if="{{ @s2sim.isVampire == 1}}">
	<img src="{{@BASE}}{{@s2path}}turnon9.png" class="pl-2" data-toggle="tooltip" title="Vampire" alt="Vampire">
</check>
<check if="{{ @s2sim.isServo == 1}}">
	<img src="{{@BASE}}{{@s2path}}turnon31.png" class="pl-2" data-toggle="tooltip" title="Servo" alt="Servo">
</check>
<check if="{{ @s2sim.isWerewolf == 1}}">
	<img src="{{@BASE}}{{@s2path}}turnon33.png" class="pl-2" data-toggle="tooltip" title="Werewolf" alt="Werewolf">
</check>
<check if="{{ @s2sim.isPlantSim == 1}}">
	<img src="{{@BASE}}{{@s2path}}turnon32.png" class="pl-2" data-toggle="tooltip" title="PlantSim" alt="PlantSim">
</check>
<check if="{{ @s2sim.isWitch == 1}}">
	<img src="{{@BASE}}{{@s2path}}turnon34.png" class="pl-2" data-toggle="tooltip" title="Witch" alt="Witch">
</check>
<check if="{{ @human == true}}">
	<img src="{{@BASE}}{{@s2path}}human.png" class="pl-2" data-toggle="tooltip" title="Human" alt="Human">
</check>
<h3>More Details</h3>
<h4>Education</h4>
<check if="{{ @sim.schoolType == 'private'}}">
	<true>
		<img src="{{@BASE}}{{@s2path}}privateschool.png" class="pl-2" data-toggle="tooltip" title="Private school"
			 alt="Private school">
	</true>
	<false>
		<img src="{{@BASE}}{{@s2path}}publicschool.png" class="pl-2" data-toggle="tooltip" title="Public school"
			 alt="Public school">
	</false>
</check>
<span
<check if="{{ @sim.grade == 'A+'}}">
	class="badge bg-success rounded-pill"
</check>
<check if="{{ @sim.grade == 'A'}}">
	class="badge bg-success rounded-pill"
</check>
<check if="{{ @sim.grade == 'A-'}}">
	class="badge bg-success rounded-pill"
</check>
<check if="{{ @sim.grade == 'B+'}}">
	class="badge bg-info rounded-pill"
</check>
<check if="{{ @sim.grade == 'B'}}">
	class="badge bg-info rounded-pill"
</check>
<check if="{{ @sim.grade == 'B-'}}">
	class="badge bg-info rounded-pill"
</check>
<check if="{{ @sim.grade == 'C+'}}">
	class="badge bg-warning rounded-pill"
</check>
<check if="{{ @sim.grade == 'C'}}">
	class="badge bg-warning rounded-pill"
</check>
<check if="{{ @sim.grade == 'C-'}}">
	class="badge bg-warning rounded-pill"
</check>
<check if="{{ @sim.grade == 'D+'}}">
	class="badge bg-danger rounded-pill"
</check>
<check if="{{ @sim.grade == 'D'}}">
	class="badge bg-danger rounded-pill"
</check>
<check if="{{ @sim.grade == 'D-'}}">
	class="badge bg-danger rounded-pill"
</check>
<check if="{{ @sim.grade == 'F'}}">
	class="badge bg-dark rounded-pill"
</check>
>{{ trim(@sim.grade)}}</span>

<check if="{{ @sim.age == 'Young Adult'}}">
	<check if="{{ @sim.studyStatus == 1}}">
		<div class="card mb-3">
			<div class="card-header">
				<h6><a data-toggle="collapse" href="#major" aria-expanded="false" aria-controls="major">Currently
					studying: {{ @major.majorName }}</a></h6>
			</div>
			<div class="card-body collapse" id="major">
				<div class="row">
					<div class="col">
						<h6>Current</h6>
						<p><b>Semester:
							<F3:switch expr="{{@sim.term}}">
							    <F3:case value="1" break="{{ TRUE }}">Freshman</F3:case>
							    <F3:case value="2" break="{{ TRUE }}">Sophomore</F3:case>
								<F3:case value="3" break="{{ TRUE }}">Junior</F3:case>
								<F3:case value="4" break="{{ TRUE }}">Senior</F3:case>
								<F3:default>N/A</F3:default>
							</F3:switch>
						</b></p>
						<p><b>Class: {{ @class.className}}</b></p>
						<p><b>Class time: </b>
							<check if="{{ @user.timeFormat == 12 }}">
								<true>
									{{ date("g:i A", strtotime(@class.startTime)) }}
								</true>
								<false>
									{{ date("H:i", strtotime(@class.startTime)) }}
								</false>
							</check>
							-
							<check if="{{ @user.timeFormat == 12 }}">
								<true>
									{{ date("g:i A", strtotime(@class.finishTime)) }}
								</true>
								<false>
									{{ date("H:i", strtotime( @class.finishTime)) }}
								</false>
							</check>
						</p>
					</div>
					<div class="col">
						<h6>Needed to max possible grade</h6>
						<check if="{{@s2class.cooking > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}CookingSm.png" class="cook" alt="Cooking"
									data-toggle="tooltip" title="Cooking">
								<span
								<check if="{{ @sim.cooking >= @s2class.cooking}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.cooking}}</span></p>
						</check>
						<check if="{{@s2class.mechanical > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}MechanicalSm.png" class="mech" alt="Mechanical"
									data-toggle="tooltip" title="Mechanical">
								<span
								<check if="{{ @sim.mechanical >= @s2class.mechanical}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.mechanical}}</span></p>
						</check>
						<check if="{{@s2class.charisma > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}CharismaSm.png" class="char" alt="Charisma"
									data-toggle="tooltip" title="Charisma">
								<span
								<check if="{{ @sim.charisma >= @s2class.charisma}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.charisma}}</span></p>
						</check>
						<check if="{{@s2class.body > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}BodySm.png" class="body" alt="Body" data-toggle="tooltip"
									title="Body">
								<span
								<check if="{{ @sim.body >= @s2class.body}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.body}}</span></p>
						</check>
						<check if="{{@s2class.logic > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}LogicSm.png" class="logic" alt="Logic"
									data-toggle="tooltip" title="Logic">
								<span
								<check if="{{ @sim.logic >= @s2class.logic}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.logic}}</span></p>
						</check>
						<check if="{{@s2class.creativity > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}CreativitySm.png" class="create" alt="Creativity"
									data-toggle="tooltip" title="Creativity">
								<span
								<check if="{{ @s2sim.creativity >= @s2class.creativity}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.creativity}}</span></p>
						</check>
						<check if="{{@s2class.cleaning > 0}}">
							<p><img src="{{@BASE}}{{@s2path}}CleaningSm.png" class="clean" alt="Cleaning"
									data-toggle="tooltip" title="Cleaning">
								<span
								<check if="{{ @s2sim.cleaning >= @s2class.cleaning}}">
									<true>
										class="badge bg-success rounded-pill"
									</true>
									<false>
										class="badge bg-danger rounded-pill"
									</false>
								</check>
								>
								{{@s2class.cleaning}}</span></p>
						</check>
					</div>
				</div>
			</div>
		</div>
	</check>
	<check if="{{ @sim.studyStatus == 0}}">
		<img src="{{@BASE}}{{@s2path}}CollegeExpelled.png" alt="Never went to university" data-toggle="tooltip"
			 title="Never went to university">
	</check>
	<check if="{{ @sim.studyStatus == 3}}">
		<img src="{{@BASE}}{{@s2path}}Probation.png" alt="Academic Probation in {{ @major.majorName }}"
			 data-toggle="tooltip" title="Academic Probation in {{ @major.majorName }}">
	</check>
	<check if="{{ @sim.studyStatus == 5}}">
		<img src="{{@BASE}}{{@s2path}}CollegeExpelled.png" alt="Expelled from University" data-toggle="tooltip"
			 title="Expelled from University">
	</check>
</check>
<check if="{{ @sim.studyStatus == 2}}">
	<img src="{{@BASE}}{{@s2path}}Graduated.png" alt="Graduated in {{ @major.majorName }}" data-toggle="tooltip"
		 title="Graduated in {{ @major.majorName }}">
</check>
<check if="{{ @sim.studyStatus == 6}}">
	<img src="{{@BASE}}{{@s2path}}GraduatedHonours.png" alt="Graduated with honours in {{ @major.majorName }}"
		 data-toggle="tooltip" title="Graduated with honours in {{ @major.majorName }}">
</check>
<check if="{{ @sim.studyStatus == 4}}">
	<img src="{{@BASE}}{{@s2path}}Dropped_Out.png" alt="Dropped out from University" data-toggle="tooltip"
		 title="Dropped out from University">
</check>

<check if="{{ @sim.age == 'Teen' || @sim.age == 'Adult' || @sim.age == 'Elder'}}">
	<h4>Work</h4>
	<check if="{{ @sim.careerTrack == 0}}">
		<true>
			<check if="{{ @sim.id == @business.owner}}">
				<true>
					<img src="{{@BASE}}{{@s2path}}Unemployed.png" class="pl-2" alt="Self-employed" data-toggle="tooltip"
						 title="Self-employed">
				</true>
				<false>
					<img src="{{@BASE}}{{@s2path}}Unemployed.png" class="pl-2" alt="Unemployed" data-toggle="tooltip"
						 title="Unemployed">
				</false>
			</check>
		</true>
		<false>
			<check if="{{ @sim.jobLevel == 0}}">
				<true>
					<p>Unemployed</p>
				</true>
				<false>
					<check if="{{ @sim.age != 'Young Adult' && @sim.retired != 1}}">
						<div class="card mb-3">
							<div class="card-header">
								<h6><a data-toggle="collapse" href="#career" aria-expanded="false"
									   aria-controls="career">Career: {{trim(@career.careerName)}}</a></h6>
							</div>
							<div class="card-body collapse" id="career">
								<div class="row">
									<div class="col">
										<h6>Current</h6>
										<p><strong>Job: </strong>{{trim(@job.jobName)}}</p>
										<p><strong>Pay: </strong>{{ trim(@job.pay) | simoleons }}</p>
										<p><strong>Bonus: </strong>{{trim(@job.bonus) | simoleons }}</p>
										<p><strong>Career reward: </strong>{{trim(@career.reward)}}
											<F3:check if="{{ @career.unlockLevel <= @job.jobLevel }}">
												<F3:true>
													<i class="fas fa-lock-open ml-1" aria-hidden="true" title="Unlocked"></i>
												</F3:true>
												<F3:false>
													<i class="fas fa-lock ml-1" aria-hidden="true" title="Locked"></i>
												</F3:false>
											</F3:check></p>
									</div>
									<div class="col">
										<h6>Needed to advance</h6>
										<p><img src="{{@BASE}}{{@s2path}}FriendSm.png" alt="Friends" class="friends"
												data-toggle="tooltip" title="Friends">
											<span
												<F3:check if="{{ @s2sim.friendsBenefit == 1 }}">
												<F3:true>
													<check if="{{ @hh.friends >= @s2job.friends - 1}}">
														<true>
															class="badge bg-success rounded-pill"
														</true>
														<false>
															class="badge bg-danger rounded-pill"
														</false>
													</check>>{{ @s2job.friends - 1 }}</span>
												</F3:true>
													<F3:false>
														<check if="{{ @hh.friends >= @s2job.friends}}">
															<true>
																class="badge bg-success rounded-pill"
															</true>
															<false>
																class="badge bg-danger rounded-pill"
															</false>
														</check>>{{ @s2job.friends }}</span>
													</F3:false>
												</F3:check>
													</p>
										<F3:check if="{{ @s2job.cooking >= 0 }}">
											<p><img src="{{@BASE}}{{@s2path}}CookingSm.png" class="cook" alt="Cooking"
													data-toggle="tooltip" title="Cooking">
												<span
												<check if="{{ @sim.cooking >= @s2job.cooking}}">
													<true>
														class="badge bg-success rounded-pill"
													</true>
													<false>
														class="badge bg-danger rounded-pill"
													</false>
												</check>>
												{{ @s2job.cooking }}</span></p>
										</F3:check>
										<F3:check if="{{ @s2job.mechanical >= 0 }}">
										<p><img src="{{@BASE}}{{@s2path}}MechanicalSm.png" class="mech" alt="Mechanical"
												data-toggle="tooltip" title="Mechanical">
											<span
											<check if="{{ @sim.mechanical >= @s2job.mechanical}}">
												<true>
													class="badge bg-success rounded-pill"
												</true>
												<false>
													class="badge bg-danger rounded-pill"
												</false>
											</check>>
											{{ @s2job.mechanical }}</span></p>
										</F3:check>
										<F3:check if="{{ @s2job.charisma >= 0 }}">
										<p><img src="{{@BASE}}{{@s2path}}CharismaSm.png" class="char" alt="Charisma"
												data-toggle="tooltip" title="Charisma">
											<span
											<check if="{{ @sim.charisma >= @s2job.charisma}}">
												<true>
													class="badge bg-success rounded-pill"
												</true>
												<false>
													class="badge bg-danger rounded-pill"
												</false>
											</check>>
											{{ @s2job.charisma }}</span></p>
										</F3:check>
										<F3:check if="{{ @s2job.body >= 0 }}">
										<p><img src="{{@BASE}}{{@s2path}}BodySm.png" class="body" alt="Body"
												data-toggle="tooltip" title="Body">
											<span
											<check if="{{ @sim.body >= @s2job.body}}">
												<true>
													class="badge bg-success rounded-pill"
												</true>
												<false>
													class="badge bg-danger rounded-pill"
												</false>
											</check>>
											{{ @s2job.body }}</span></p>
										</F3:check>
										<F3:check if="{{ @s2job.logic >= 0 }}">
										<p><img src="{{@BASE}}{{@s2path}}LogicSm.png" class="logic" alt="Logic"
												data-toggle="tooltip" title="Logic">
											<span
											<check if="{{ @sim.logic >= @s2job.logic}}">
												<true>
													class="badge bg-success rounded-pill"
												</true>
												<false>
													class="badge bg-danger rounded-pill"
												</false>
											</check>>
											{{ @s2job.logic }}</span></p>
										</F3:check>
										<F3:check if="{{ @s2job.creativity >= 0 }}">
										<p><img src="{{@BASE}}{{@s2path}}CreativitySm.png" class="create"
												alt="Creativity" data-toggle="tooltip" title="Creativity">
											<span
											<check if="{{ @s2sim.creativity >= @s2job.creativity}}">
												<true>
													class="badge bg-success rounded-pill"
												</true>
												<false>
													class="badge bg-danger rounded-pill"
												</false>
											</check>>
											{{ @s2job.creativity }}</span></p>
										</F3:check>
										<F3:check if="{{ @s2job.cleaning >= 0 }}">
										<p><img src="{{@BASE}}{{@s2path}}CleaningSm.png" class="clean" alt="Cleaning"
												data-toggle="tooltip" title="Cleaning">
											<span
											<check if="{{ @s2sim.cleaning >= @s2job.cleaning}}">
												<true>
													class="badge bg-success rounded-pill"
												</true>
												<false>
													class="badge bg-danger rounded-pill"
												</false>
											</check>>
											{{ @s2job.cleaning }}</span></p>
										</F3:check>
									</div>
								</div>
							</div>
						</div>
					</check>
					<check if="{{ @sim.retired}}">
						<img src="{{@BASE}}{{@s2path}}Retired.png" class="pl-2" alt="Retired" data-toggle="tooltip"
							 title="Retired">
					</check>
				</false>
			</check>
		</false>
	</check>
</check>
<check if="{{ @s2sim.isWitch == 1}}">
	<h4>Witchcraft - <span id="alignLevel">Level</span></h4>
	<div class="progress-wrapper mb-3">
		<span class="progress-label">Magic level</span>
		<div class="progress progress-lg">
			<div
			<check if="{{ @s2sim.alignment <= -20}}">
				class="progress-bar bg-dark"
			</check>
			<check if="{{ @s2sim.alignment < 20}}">
				class="progress-bar bg-secondary"
			</check>
			<check if="{{ @s2sim.alignment >= 20}}">
				class="progress-bar bg-info"
			</check>
			role="progressbar" aria-valuenow="{{ trim(@s2sim.magicLevel) }}" aria-valuemin="0" aria-valuemax="10"
			style="width: {{ trim(@s2sim.magicLevel) }}0%;">
			<span class="progress-value">{{ trim(@s2sim.magicLevel) }}</span>
		</div>
	</div>
	</div>

	<div class="card mb-3">
		<div class="card-header">
			<h6><a data-toggle="collapse" href="#spells" aria-expanded="false" aria-controls="spells">Available
				Spells</a></h6>
		</div>
		<div class="card-body collapse" id="spells">
			<table class="table table-responsive-sm">
				<thead>
				<tr>
					<th scope="col">Magic level</th>
					<th scope="col">Evil</th>
					<th scope="col">Neutral</th>
					<th scope="col">Good</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row">0</th>
					<td><span class="meanDown">Corruptus Locus</span><br/>
						<span class="goodDown">Mellifera Attackum</span><br/>
						Spiritus Poultria
					</td>
					<td>Aqua Deletus<br/>
						Cleanius Corpus<br/>
						Folium Deletus
					</td>
					<td><span class="nicePlus">Beautificus Locus</span><br/>
						Benemoodus Simae<br/>
						<span class="evilPlus">Creatum Insecto Volucris</span>
					</td>
				</tr>
				<tr class="level1">
					<th scope="row">1</th>
					<td></td>
					<td>Corpus Athleticus<br/>
						Corpus Fleshicus
					</td>
					<td></td>
				</tr>
				<tr class="level2">
					<th scope="row">2</th>
					<td><span class="niceDown">Inflammo</span></td>
					<td></td>
					<td><span class="meanPlus">Exflammo</span></td>
				</tr>
				<tr class="level3">
					<th scope="row">3</th>
					<td>
						<span class="neutralDown">Heavus Ho</span></td>
					<td>Magivestigium</td>
					<td><span class="neutralPlus">Remedis Simae</span></td>
				</tr>
				<tr class="level4">
					<th scope="row">4</th>
					<td></td>
					<td>Creatum Nutrimens<br/>
						Expello Simae
					</td>
					<td></td>
				</tr>
				<tr class="level5">
					<th scope="row">5</th>
					<td><span class="meanDown">Compello Discrepo</span></td>
					<td>Appello Cattus Amicus</td>
					<td><span class="nicePlus">Compello Acceptus</span></td>
				</tr>
				<tr class="level6">
					<th scope="row">6</th>
					<td><span class="evilDown">Servantus Attackum</span></td>
					<td>Purgomagus</td>
					<td><span class="goodPlus">Appello Servantus</span></td>
				</tr>
				<tr class="level7">
					<th scope="row">7</th>
					<td><span class="evilDown">Tabula Rasa</span></td>
					<td>Appello Simae</td>
					<td><span class="goodPlus">Benemoodus Populus</span></td>
				</tr>
				<tr class="level8">
					<th scope="row">8</th>
					<td><span class="vEvilDown">Extractum Amorus</span></td>
					<td></td>
					<td><span class="vGoodPlus">Mactoamicus</span></td>
				</tr>
				<tr class="level9">
					<th scope="row">9</th>
					<td><span class="vEvilDown">Vivificus Zombiae</span></td>
					<td>Magus Mutatio</td>
					<td><span class="vGoodPlus">Expello Mortis</span></td>
				</tr>
				<tr class="level10">
					<th scope="row">10</th>
					<td></td>
					<td>Tempus Interruptus</td>
					<td></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card mb-3">
		<div class="card-header">
			<h6><a data-toggle="collapse" href="#craftables" aria-expanded="false" aria-controls="craftables">Available
				Craftables</a></h6>
		</div>
		<div class="card-body collapse" id="craftables">
			<table class="table table-responsive-sm">
				<thead>
				<tr>
					<th scope="col">Magic level</th>
					<th scope="col">Type</th>
					<th scope="col">Evil</th>
					<th scope="col">Neutral</th>
					<th scope="col">Good</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row">0</th>
					<td>Reagent</td>
					<td>
						Eye of Newt<br/>
						Viper's Essence
					</td>
					<td>Dragon Scales<br/>
						Mystic Dust
					</td>
					<td>
						Essence of Light<br/>
						Crystallised Moonbeams
					</td>
				</tr>
				<tr class="level1">
					<th scope="row">1</th>
					<td>Potion</td>
					<td></td>
					<td>Lycanthropic-B<br/>
						Plantophic-C<br/>
						Vampirocilin-D<br/>
						Witchbegone-E
					</td>
					<td></td>
				</tr>
				<tr class="level2">
					<th scope="row">2</th>
					<td>Object</td>
					<td><span class="mean">Hand of Darkness Floor Lamp</span></td>
					<td>Little Miss Wendolyn Sculpture</td>
					<td><span class="nice">Faerie Fire Floor Lamp</span></td>
				</tr>
				<tr class="level4">
					<th scope="row">4</th>
					<td>Potion</td>
					<td><span class="mean">Enchanted Essence of Cur Tails</span></td>
					<td></td>
					<td><span class="nice">Magically Spiced Sugar</span></td>
				</tr>
				<tr class="level5">
					<th scope="row">5</th>
					<td>Object</td>
					<td><span class="evil">Palm of Darkness Wall Sconce</span><br/>
						<span class="evil">Fist of Darkness Ceiling Lamp</span>
					</td>
					<td></td>
					<td><span class="good">Stardust Wall Sconce</span><br/>
						<span class="good">Star Dusted Ceiling Lamp</span>
					</td>
				</tr>
				<tr class="level7">
					<th scope="row">7</th>
					<td>Potion</td>
					<td></td>
					<td>Love Potion #8.5<br/>
						ReNuYu Porta-Chug
					</td>
					<td></td>
				</tr>
				<tr class="level9">
					<th scope="row">9</th>
					<td>Object</td>
					<td><span class="vEvil">Claw of Darkness Throne</span></td>
					<td></td>
					<td><span class="vGood">Throne of Light</span></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</check>

{* Scripts *}
<script>
	$(function () {
		let careerTitle = $('#careerTitle');
		let job = $('#job');
		let pay = $('#pay');
		let bonus = $('#bonus');
		let friends = $('#friends');
		let reward = $('#reward');
		let cook = $('#cook');
		let mech = $('#mech');
		let char = $('#char');
		let body = $('#body');
		let logic = $('#logic');
		let create = $('#create');
		let clean = $('#clean');
		let jobLevel = 0;
		let align = {{trim(@s2sim.alignment)}};
		let magic = {{trim(@s2sim.magicLevel)}};
		alignUpdate(align);
		magicUpdate(magic);
		careerLoad();
	});

	function alignUpdate(v) {
		let alignLevel = $('#alignLevel');
		let vEvil = $(".vEvil");
		let evil = $(".evil");
		let mean = $(".mean");
		let nice = $(".nice");
		let good = $(".good");
		let vGood = $(".vGood");
		let vEvilPlus = $(".vEvilPlus");
		let evilPlus = $(".evilPlus");
		let meanPlus = $(".meanPlus");
		let neutralPlus = $(".neutralPlus");
		let nicePlus = $(".nicePlus");
		let goodPlus = $(".goodPlus");
		let vGoodPlus = $(".vGoodPlus");
		let vEvilDown = $(".vEvilDown");
		let evilDown = $(".evilDown");
		let meanDown = $(".meanDown");
		let neutralDown = $(".neutralDown");
		let niceDown = $(".niceDown");
		let goodDown = $(".goodDown");
		let vGoodDown = $(".vGoodDown");

		if (v >= -100 && v <= -90) {
			alignLevel.text("Atrociously Evil");
			vGood.attr('aria-hidden', 'true').hide();
			good.attr('aria-hidden', 'true').hide();
			nice.attr('aria-hidden', 'true').hide();
			mean.attr('aria-hidden', 'false').show();
			evil.attr('aria-hidden', 'false').show();
			vEvil.attr('aria-hidden', 'false').show();
			vGoodPlus.attr('aria-hidden', 'true').hide();
			goodPlus.attr('aria-hidden', 'true').hide();
			nicePlus.attr('aria-hidden', 'true').hide();
			neutralPlus.attr('aria-hidden', 'true').hide();
			meanPlus.attr('aria-hidden', 'true').hide();
			evilPlus.attr('aria-hidden', 'true').hide();
			vEvilPlus.attr('aria-hidden', 'true').hide();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'false').show();
			niceDown.attr('aria-hidden', 'false').show();
			neutralDown.attr('aria-hidden', 'false').show();
			meanDown.attr('aria-hidden', 'false').show();
			evilDown.attr('aria-hidden', 'false').show();
			vEvilDown.attr('aria-hidden', 'false').show();
		} else if (v > -90 && v <= -50) {
			alignLevel.text("Evil");
			vGood.attr('aria-hidden', 'true').hide();
			good.attr('aria-hidden', 'true').hide();
			nice.attr('aria-hidden', 'true').hide();
			mean.attr('aria-hidden', 'false').show();
			evil.attr('aria-hidden', 'false').show();
			vEvil.attr('aria-hidden', 'true').hide();
			vGoodPlus.attr('aria-hidden', 'true').hide();
			goodPlus.attr('aria-hidden', 'true').hide();
			nicePlus.attr('aria-hidden', 'true').hide();
			neutralPlus.attr('aria-hidden', 'true').hide();
			meanPlus.attr('aria-hidden', 'true').hide();
			evilPlus.attr('aria-hidden', 'false').show();
			vEvilPlus.attr('aria-hidden', 'false').show();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'false').show();
			niceDown.attr('aria-hidden', 'false').show();
			neutralDown.attr('aria-hidden', 'false').show();
			meanDown.attr('aria-hidden', 'false').show();
			evilDown.attr('aria-hidden', 'false').show();
			vEvilDown.attr('aria-hidden', 'true').hide();
		} else if (v > -50 && v <= -20) {
			alignLevel.text("Mean");
			vGood.attr('aria-hidden', 'true').hide();
			good.attr('aria-hidden', 'true').hide();
			nice.attr('aria-hidden', 'true').hide();
			mean.attr('aria-hidden', 'false').show();
			evil.attr('aria-hidden', 'true').hide();
			vEvil.attr('aria-hidden', 'true').hide();
			vGoodPlus.attr('aria-hidden', 'true').hide();
			goodPlus.attr('aria-hidden', 'true').hide();
			nicePlus.attr('aria-hidden', 'true').hide();
			neutralPlus.attr('aria-hidden', 'true').hide();
			meanPlus.attr('aria-hidden', 'false').show();
			evilPlus.attr('aria-hidden', 'false').show();
			vEvilPlus.attr('aria-hidden', 'false').show();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'false').show();
			niceDown.attr('aria-hidden', 'false').show();
			neutralDown.attr('aria-hidden', 'false').show();
			meanDown.attr('aria-hidden', 'false').show();
			evilDown.attr('aria-hidden', 'true').hide();
			vEvilDown.attr('aria-hidden', 'true').hide();
		} else if (v > -20 && v < 20) {
			alignLevel.text("Neutral");
			vGood.attr('aria-hidden', 'true').hide();
			good.attr('aria-hidden', 'true').hide();
			nice.attr('aria-hidden', 'true').hide();
			mean.attr('aria-hidden', 'true').hide();
			evil.attr('aria-hidden', 'true').hide();
			vEvil.attr('aria-hidden', 'true').hide();
			vGoodPlus.attr('aria-hidden', 'true').hide();
			goodPlus.attr('aria-hidden', 'true').hide();
			nicePlus.attr('aria-hidden', 'true').hide();
			neutralPlus.attr('aria-hidden', 'false').show();
			meanPlus.attr('aria-hidden', 'false').show();
			evilPlus.attr('aria-hidden', 'false').show();
			vEvilPlus.attr('aria-hidden', 'false').show();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'false').show();
			niceDown.attr('aria-hidden', 'false').show();
			neutralDown.attr('aria-hidden', 'false').show();
			meanDown.attr('aria-hidden', 'true').hide();
			evilDown.attr('aria-hidden', 'true').hide();
			vEvilDown.attr('aria-hidden', 'true').hide();
		} else if (v >= 20 && v < 50) {
			alignLevel.text("Nice");
			vGood.attr('aria-hidden', 'true').hide();
			good.attr('aria-hidden', 'true').hide();
			nice.attr('aria-hidden', 'false').show();
			mean.attr('aria-hidden', 'true').hide();
			evil.attr('aria-hidden', 'true').hide();
			vEvil.attr('aria-hidden', 'true').hide();
			vGoodPlus.attr('aria-hidden', 'true').hide();
			goodPlus.attr('aria-hidden', 'true').hide();
			nicePlus.attr('aria-hidden', 'false').show();
			neutralPlus.attr('aria-hidden', 'false').show();
			meanPlus.attr('aria-hidden', 'false').show();
			evilPlus.attr('aria-hidden', 'false').show();
			vEvilPlus.attr('aria-hidden', 'false').show();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'false').show();
			niceDown.attr('aria-hidden', 'false').show();
			neutralDown.attr('aria-hidden', 'true').hide();
			meanDown.attr('aria-hidden', 'true').hide();
			evilDown.attr('aria-hidden', 'true').hide();
			vEvilDown.attr('aria-hidden', 'true').hide();
		} else if (v >= 50 && v < 90) {
			alignLevel.text("Good");
			vGood.attr('aria-hidden', 'true').hide();
			good.attr('aria-hidden', 'false').show();
			nice.attr('aria-hidden', 'false').show();
			mean.attr('aria-hidden', 'true').hide();
			evil.attr('aria-hidden', 'true').hide();
			vEvil.attr('aria-hidden', 'true').hide();
			vGoodPlus.attr('aria-hidden', 'true').hide();
			goodPlus.attr('aria-hidden', 'false').show();
			nicePlus.attr('aria-hidden', 'false').show();
			neutralPlus.attr('aria-hidden', 'false').show();
			meanPlus.attr('aria-hidden', 'false').show();
			evilPlus.attr('aria-hidden', 'false').show();
			vEvilPlus.attr('aria-hidden', 'false').show();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'false').show();
			niceDown.attr('aria-hidden', 'true').hide();
			neutralDown.attr('aria-hidden', 'true').hide();
			meanDown.attr('aria-hidden', 'true').hide();
			evilDown.attr('aria-hidden', 'true').hide();
			vEvilDown.attr('aria-hidden', 'true').hide();
		} else if (v >= 90 && v <= 100) {
			alignLevel.text("Infallibly Good");
			vGood.attr('aria-hidden', 'false').show();
			good.attr('aria-hidden', 'false').show();
			nice.attr('aria-hidden', 'false').show();
			mean.attr('aria-hidden', 'true').hide();
			evil.attr('aria-hidden', 'true').hide();
			vEvil.attr('aria-hidden', 'true').hide();
			vGoodPlus.attr('aria-hidden', 'false').show();
			goodPlus.attr('aria-hidden', 'false').show();
			nicePlus.attr('aria-hidden', 'false').show();
			neutralPlus.attr('aria-hidden', 'false').show();
			meanPlus.attr('aria-hidden', 'false').show();
			evilPlus.attr('aria-hidden', 'false').show();
			vEvilPlus.attr('aria-hidden', 'false').show();
			vGoodDown.attr('aria-hidden', 'false').show();
			goodDown.attr('aria-hidden', 'true').hide();
			niceDown.attr('aria-hidden', 'true').hide();
			neutralDown.attr('aria-hidden', 'true').hide();
			meanDown.attr('aria-hidden', 'true').hide();
			evilDown.attr('aria-hidden', 'true').hide();
			vEvilDown.attr('aria-hidden', 'true').hide();
		}
	}

	function magicUpdate(v) {
		let lv11 = $(".level1");
		let lv12 = $(".level2");
		let lv13 = $(".level3");
		let lv14 = $(".level4");
		let lv15 = $(".level5");
		let lv16 = $(".level6");
		let lv17 = $(".level7");
		let lv18 = $(".level8");
		let lv19 = $(".level9");
		let lv110 = $(".level10");

		switch (parseInt(v)) {
			case 1:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'true').hide();
				lv13.attr('aria-hidden', 'true').hide();
				lv14.attr('aria-hidden', 'true').hide();
				lv15.attr('aria-hidden', 'true').hide();
				lv16.attr('aria-hidden', 'true').hide();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 2:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'true').hide();
				lv14.attr('aria-hidden', 'true').hide();
				lv15.attr('aria-hidden', 'true').hide();
				lv16.attr('aria-hidden', 'true').hide();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 3:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'true').hide();
				lv15.attr('aria-hidden', 'true').hide();
				lv16.attr('aria-hidden', 'true').hide();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 4:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'true').hide();
				lv16.attr('aria-hidden', 'true').hide();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 5:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'false').show();
				lv16.attr('aria-hidden', 'true').hide();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 6:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'false').show();
				lv16.attr('aria-hidden', 'false').show();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 7:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'false').show();
				lv16.attr('aria-hidden', 'false').show();
				lv17.attr('aria-hidden', 'false').show();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 8:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'false').show();
				lv16.attr('aria-hidden', 'false').show();
				lv17.attr('aria-hidden', 'false').show();
				lv18.attr('aria-hidden', 'false').show();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 9:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'false').show();
				lv16.attr('aria-hidden', 'false').show();
				lv17.attr('aria-hidden', 'false').show();
				lv18.attr('aria-hidden', 'false').show();
				lv19.attr('aria-hidden', 'false').show();
				lv110.attr('aria-hidden', 'true').hide();
				break;
			case 10:
				lv11.attr('aria-hidden', 'false').show();
				lv12.attr('aria-hidden', 'false').show();
				lv13.attr('aria-hidden', 'false').show();
				lv14.attr('aria-hidden', 'false').show();
				lv15.attr('aria-hidden', 'false').show();
				lv16.attr('aria-hidden', 'false').show();
				lv17.attr('aria-hidden', 'false').show();
				lv18.attr('aria-hidden', 'false').show();
				lv19.attr('aria-hidden', 'false').show();
				lv110.attr('aria-hidden', 'false').show();
				break;
			default:
				lv11.attr('aria-hidden', 'true').hide();
				lv12.attr('aria-hidden', 'true').hide();
				lv13.attr('aria-hidden', 'true').hide();
				lv14.attr('aria-hidden', 'true').hide();
				lv15.attr('aria-hidden', 'true').hide();
				lv16.attr('aria-hidden', 'true').hide();
				lv17.attr('aria-hidden', 'true').hide();
				lv18.attr('aria-hidden', 'true').hide();
				lv19.attr('aria-hidden', 'true').hide();
				lv110.attr('aria-hidden', 'true').hide();
				break;
		}
	}

	function careerLoad() {
		careerPath({{trim(@sim.careerTrack)}});
		$.ajax({
			type: 'POST',
			url: json,
			data: {get_param: 'value'},
			dataType: 'json',
			success: function (data) {
				jobLevel = {{@sim.jobLevel}}-1;
				careerTitle.append(": " + data.name);
				if ($('#age').val() == "Teen") {
					$(".reward").attr('aria-hidden', 'true').hide();
					careerAge = data.teen;
				}
				if ($('#age').val() == "Adult" || $('#age').val() == "Elder") {
					$(".reward").attr('aria-hidden', 'false').show();
					if ({{@sim.jobLevel}} < data.unlock) {
				reward.append("Locked");
                    } else {
                         reward.append(data.reward); 
                    }
					careerAge = data.adult;
                }
				careerDetails(); 
            },
            error: function (result) {
                careerTitle.append(": unknown");
            }
        });
    }

	function careerDetails() {
			job.append(careerAge[jobLevel].name); 
			pay.append(simoleans.to(careerAge[jobLevel].pay)); 
			careerAge[jobLevel].bonus == 0 ? bonus.append("None") : bonus.append(simoleans.to(careerAge[jobLevel].bonus));
			if ($.isNumeric(careerAge[jobLevel].friends)) { 
				if  (careerAge[jobLevel].friends < 0) {
					friends.append("-");
				} else if ({{trim(@s2sim.friendsBenefit)}} == 1) {
				friends.append(careerAge[jobLevel].friends - 1);
				} else
					{
						friends.append(careerAge[jobLevel].friends);
					}
				$(".friends").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".friends").attr('aria-hidden', 'true').hide();                          
			}  
			if ($.isNumeric(careerAge[jobLevel].cooking)) { 
				careerAge[jobLevel].cooking < 0 ? cook.append("-") : cook.append(careerAge[jobLevel].cooking);
				$(".cook").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".cook").attr('aria-hidden', 'true').hide();                          
			}       
			if ($.isNumeric(careerAge[jobLevel].mechanical)) {  
				careerAge[jobLevel].mechanical < 0 ? mech.append("-") : mech.append(careerAge[jobLevel].mechanical);
				$(".mech").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".mech").attr('aria-hidden', 'true').hide();                          
			}      
			if ($.isNumeric(careerAge[jobLevel].charisma)) {    
				careerAge[jobLevel].charisma < 0 ? char.append("-") : char.append(careerAge[jobLevel].charisma);
				$(".char").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".char").attr('aria-hidden', 'true').hide();                          
			}                                
			if ($.isNumeric(careerAge[jobLevel].body)) {       
				careerAge[jobLevel].body < 0 ? body.append("-") : body.append(careerAge[jobLevel].body);
				$(".body").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".body").attr('aria-hidden', 'true').hide();                          
			}                          
			if ($.isNumeric(careerAge[jobLevel].logic)) {      
				careerAge[jobLevel].logic < 0 ? logic.append("-") : logic.append(careerAge[jobLevel].logic);
				$(".logic").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".logic").attr('aria-hidden', 'true').hide();                          
			}                          
			if ($.isNumeric(careerAge[jobLevel].creativity)) { 
				careerAge[jobLevel].creativity < 0 ? create.append("-") : create.append(careerAge[jobLevel].creativity);
				$(".create").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".create").attr('aria-hidden', 'true').hide();                          
			}                         
			if ($.isNumeric(careerAge[jobLevel].cleaning)) {  
				careerAge[jobLevel].cleaning < 0 ? clean.append("-") : clean.append(careerAge[jobLevel].cleaning);
				$(".clean").attr('aria-hidden', 'false').show();  				            
			} else {
				$(".clean").attr('aria-hidden', 'true').hide();                          
			}   
	}
    </script>