<check if="{{ @sims }}">
	<true>
		<table width="100%" cellpadding="5" id="sims" class="table table-hover table-bordered">
			<thead>
			<tr>
				<th scope="col">
					<select class="custom-select" id="hhSort">
						<option value="">Household</option>
						<repeat group="{{ @households }}" value="{{ @household }}">
							<option value="{{ trim(@household.name) }}">{{ trim(@household.name) }}</option>
						</repeat>
					</select>
				</th>
				<th scope="col">Name</th>
				<th scope="col">
					<select class="custom-select" id="ageSort">
						<option value="">Age</option>
						<repeat group="{{ @ages }}" value="{{ @age }}">
							<option value="{{ @age }}">{{ @age }}</option>
						</repeat>
					</select>
				</th>
				<th scope="col">
					<select class="custom-select" id="lifeSort">
						<option value="">Life State</option>
						<option value="Alive">Alive</option>
						<option value="Deceased">Deceased</option>
					</select>
				</th>
				<th scope="col">
					<select class="custom-select" id="gameSort">
						<option value="">Game version</option>
						<repeat group="{{ @games }}" value="{{ @game }}">
							<option value="{{ @game }}">{{ @game }}</option>
						</repeat>
					</select>
				</th>
				<th scope="col">Action</th>
			</tr>
			</thead>

			<tbody>
			<repeat group="{{ @households }}" value="{{ @household }}">
				<repeat group="{{ @sims }}" value="{{ @sim }}">
					<check if="{{ @sim.hhID == @household.hhID }}">
						<tr>
							<td>{{ trim(@household.name) }}</td>
							<td>{{ trim(@sim.firstName) }} {{ trim(@sim.lastName) }}</td>
							<td>{{ trim(@sim.age) }}</td>
							<td>{{ trim(@sim.lifeState) }}</td>
							<td>Sims {{ trim(@sim.gameVersion) }}</td>
							<td><a href="{{ @BASE.'/sim/view/'. @sim.id }}" data-toggle="tooltip" title="View"
								   class="text-info" target="_blank"><i class="fa fa-eye mr-2"></i></a>
								<a href="{{ @BASE.'/sim/update/'. @sim.id }}" data-toggle="tooltip" title="Edit"
								   class="text-primary"><i class="fa fa-edit mr-2"></i></a>
								<a href="#" onclick="confirm('{{ @BASE.'/sim/delete/'. @sim.id }}');"
								   data-toggle="tooltip"
								   title="Delete"
								   class="text-danger delete"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</check>
				</repeat>
			</repeat>
			</tbody>
		</table>
	</true>
	<false>
		<p>No sims found.</p>
	</false>
</check>
<a href="{{ @BASE.'/sim/create' }}" class="btn btn-success mt-3"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Create</a>
<a class="btn btn-primary mt-3 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
	<i class="fas fa-exchange-alt mr-2" aria-hidden="true"></i>Move
</a>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<repeat group="{{ @games }}" key="{{ @gkey }}" value="{{ @game }}">
		<a class="dropdown-item" href="#simMove{{ @gkey }}" data-toggle="modal" data-target="#simMove{{ @gkey }}">{{
			@game }}</a>
	</repeat>
</div>
</div>

<div class="modal fade" id="simMove2" tabindex="-1" aria-labelledby="simMoveLabel2" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="simMoveLabel2">Move sim</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ @BASE.'/sim/move' }}" validate="true" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="hhSims">Choose sims to move (hold Ctrl to choose more than 1)</label>
						<select class="custom-select" multiple name="hhSims[]" id="hhSims">
							<repeat group="{{ @sims }}" value="{{ @sim }}">
								<check if="{{ @sim.gameVersion == 2}}">
									<option value="{{ @sim.id }}">{{ @sim.firstName }} {{ @sim.lastName }}</option>
								</check>
							</repeat>
						</select>
					</div>
					<div class="form-group">
						<label for="hhID">Where are you moving these sims?</label>
						<select class="custom-select" name="hhID" id="hhID">
							<repeat group="{{ @households }}" value="{{ @hh }}">
								<check if="{{ @hh.gameVersion == 0}}">
									<option value="{{ @hh.hhID }}">{{ @hh.name }}</option>
								</check>
								<check if="{{ @hh.gameVersion == 2}}">
									<option value="{{ @hh.hhID }}">{{ @hh.name }}</option>
								</check>
							</repeat>
						</select>
					</div>
			</div>
			<div class="modal-footer">
				<!-- Hidden fields and form submission -->
				<div class="control-group">
					<div class="">
						<input type="text" class="hptrap" name="hptrap"/>
						<button type="submit" class="btn btn-primary"><i class="fa fa-save mr-2" aria-hidden="true"></i>Save
						</button>
						</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times mr-2"
																								aria-hidden="true"></i>Cancel
						</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="simMove3" tabindex="-1" aria-labelledby="simMoveLabel3" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="simMoveLabel3">Move sim</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ @BASE.'/sim/move' }}" validate="true" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="hhSims">Choose sims to move (hold Ctrl to choose more than 1)</label>
						<select class="custom-select" multiple name="hhSims[]" id="hhSims">
							<repeat group="{{ @sims }}" value="{{ @sim }}">
								<check if="{{ @sim.gameVersion == 3}}">
									<option value="{{ @sim.id }}">{{ @sim.firstName }} {{ @sim.lastName }}</option>
								</check>
							</repeat>
						</select>
					</div>
					<div class="form-group">
						<label for="hhID">Where are you moving these sims?</label>
						<select class="custom-select" name="hhID" id="hhID">
							<repeat group="{{ @households }}" value="{{ @hh }}">
								<check if="{{ @hh.gameVersion == 0}}">
									<option value="{{ @hh.hhID }}">{{ @hh.name }}</option>
								</check>
								<check if="{{ @hh.gameVersion == 3}}">
									<option value="{{ @hh.hhID }}">{{ @hh.name }}</option>
								</check>
							</repeat>
						</select>
					</div>
			</div>
			<div class="modal-footer">
				<!-- Hidden fields and form submission -->
				<div class="control-group">
					<div class="">
						<input type="text" class="hptrap" name="hptrap"/>
						<button type="submit" class="btn btn-primary"><i class="fa fa-save mr-2" aria-hidden="true"></i>Save
						</button>
						</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times mr-2"
																								aria-hidden="true"></i>Cancel
						</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="simMove4" tabindex="-1" aria-labelledby="simMoveLabel4" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="simMoveLabel4">Move sim</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{{ @BASE.'/sim/move' }}" validate="true" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="hhSims">Choose sims to move (hold Ctrl to choose more than 1)</label>
						<select class="custom-select" multiple name="hhSims[]" id="hhSims">
							<repeat group="{{ @sims }}" value="{{ @sim }}">
								<check if="{{ @sim.gameVersion == 4}}">
									<option value="{{ @sim.id }}">{{ @sim.firstName }} {{ @sim.lastName }}</option>
								</check>
							</repeat>
						</select>
					</div>
					<div class="form-group">
						<label for="hhID">Where are you moving these sims?</label>
						<select class="custom-select" name="hhID" id="hhID">
							<repeat group="{{ @households }}" value="{{ @hh }}">
								<check if="{{ @hh.gameVersion == 0}}">
									<option value="{{ @hh.hhID }}">{{ @hh.name }}</option>
								</check>
								<check if="{{ @hh.gameVersion == 4}}">
									<option value="{{ @hh.hhID }}">{{ @hh.name }}</option>
								</check>
							</repeat>
						</select>
					</div>
			</div>
			<div class="modal-footer">
				<!-- Hidden fields and form submission -->
				<div class="control-group">
					<div class="">
						<input type="text" class="hptrap" name="hptrap"/>
						<button type="submit" class="btn btn-primary"><i class="fa fa-save mr-2" aria-hidden="true"></i>Save
						</button>
						</a>
						<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times mr-2"
																								aria-hidden="true"></i>Cancel
						</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		let table = $('#sims').DataTable({
			ordering: false,
			responsive: {
				breakpoints: [
					{name: 'desktop', width: Infinity},
					{name: 'tablet', width: 1024},
					{name: 'fablet', width: 768},
					{name: 'phone', width: 480}
				]
			}
		});
		$('#hhSort').change(function () {
			let val = $(this).find('option:selected').val();
			table.columns(0).search(val).draw();
		});
		$('#ageSort').change(function () {
			let val = $(this).find('option:selected').val();
			table.columns(2).search(val).draw();
		});
		$('#lifeSort').change(function () {
			let val = $(this).find('option:selected').val();
			table.columns(3).search(val).draw();
		});
		$('#gameSort').change(function () {
			let val = $(this).find('option:selected').val();
			table.columns(4).search(val).draw();
		});
	});
</script>
