<check if="{{ @hh.hhID != null }}">
	<true>
		<form action="{{ @BASE.'/pet/create' }}" validate="true" method="post" class="form-horizontal">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" required="required" name="name" id="name"/>
			</div>


			<div class="form-group">
				<label for="gender">Gender</label>
				<select class="custom-select" name="gender" required="required" id="gender">
					<option value="F">Female</option>
					<option value="M">Male</option>
				</select>
			</div>

			<div class="form-group">
				<label for="origin">Origin</label>
				<select class="custom-select" name="origin" required="required" id="origin">
					<option>-- Where does this pet come from? --</option>
					<option value="cas">CAS</option>
					<option value="big">Born in-game</option>
					<option value="stray">Stray</option>
				</select>
			</div>

			<div class="form-group">
				<label for="age">Age</label>
				<select class="custom-select" required="required" name="age" id="age">
					<option value="Baby">Kitten / puppy</option>
					<option value="Adult">Adult</option>
					<option value="Elder">Elder</option>
				</select>
			</div>

			<div class="form-group">
				<label for="species">Species</label>
				<select class="custom-select" name="species" id="species">
					<option value="Cat">Cat</option>
					<option value="Small dog">Small dog</option>
					<option value="Large dog">Large dog</option>
				</select>
			</div>

			<div class="control-group">
				<div class="">
					<input type="text" name="hptrap" class="hptrap"/>
					<input type="hidden" name="generation" id="generation" value=""/>
					<input type="hidden" name="hhID" value="{{ @hh.hhID }}"/>
					<check if="{{ @hh.phID == NULL}}">
						<true>
							<input type="hidden" name="nhID" value="{{ @hh.nhID }}"/>
						</true>
						<false>
							<input type="hidden" name="nhID" value="{{ @hh.phID }}"/>
						</false>
					</check>
					<input type="hidden" name="gameVersion" value="{{ @hood.gameVersion }}"/>
					<input type="hidden" name="userID" value="{{@SESSION.user[2]}}"/>
					<input type="hidden" name="create" value="create"/>
					<button type="submit" class="btn btn-primary"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add
						Pet
					</button>
					<a href="{{ @BASE.'/pets' }}" class="btn btn-secondary"><i class="fa fa-times mr-2"
																			   aria-hidden="true"></i>Cancel</a>
				</div>
			</div>
		</form>
	</true>
	<false>
		<div class="form-group">
			<label for="hh">Which household is this Pet part of?</label>
			<select class="custom-select" name="hh" id="hh">
				<option value="">-- Create new household --</option>
				<repeat group="{{ @households }}" value="{{ @household }}">
					<option value="{{ @household.hhID }}">{{ @household.name }}</option>
				</repeat>
			</select>
		</div>
		<a href="" id="url" class="btn btn-primary"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Create</a>
		<a href="{{ @BASE.'/pets' }}" class="btn btn-secondary"><i class="fa fa-times mr-2" aria-hidden="true"></i>
			Cancel</a>
	</false>
</check>
<script>
	$(function () {
		$('#url').attr("href", "{{ @BASE.'/household/create/' }}");

		$("#hh").change(function () {
			let v = $("#hh").children("option:selected").val();
			if (v !== "") {
				$('#url').attr("href", "{{ @BASE.'/pet/create/' }}" + v);
			} else {
				$('#url').attr("href", "{{ @BASE.'/household/create/' }}");
			}
		});
		genshow();
		$("#origin").change(function () {
			genshow();
		});
	});

	function genshow() {
		if ($("#origin").val() === "big")
			$("#generation").val(2);
		if ($("#origin").val() === "cas")
			$("#generation").val(1);
		if ($("#origin").val() === "stray")
			$("#generation").val(0);
	}

</script>
