<h3>Needed to advance</h3>
<div class="form-row">
	<div class="col-auto">
		<div class="form-group">
			<label for="cooking">Cooking</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.cooking }}" name="cooking"
				   id="cooking"/>
		</div>
	</div>
	<div class="col-auto">
		<div class="form-group">
			<label for="mechanical">Mechanical</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.mechanical }}"
				   name="mechanical" id="mechanical"/>
		</div>
	</div>
	<div class="col-auto">
		<div class="form-group">
			<label for="charisma">Charisma</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.charisma }}"
				   name="charisma" id="charisma"/>
		</div>
	</div>
	<div class="col-auto">
		<div class="form-group">
			<label for="body">Body</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.body }}" name="body"
				   id="body"/>
		</div>
	</div>
	<div class="col-auto">
		<div class="form-group">
			<label for="logic">Logic</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.logic }}" name="logic"
				   id="logic"/>
		</div>
	</div>
	<div class="col-auto">
		<div class="form-group">
			<label for="creativity">Creativity</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.creativity }}"
				   name="creativity" id="creativity"/>
		</div>
	</div>
	<div class="col-auto">
		<div class="form-group">
			<label for="cleaning">Cleaning</label>
			<input type="number" class="form-control" required="required" value="{{ @s2class.cleaning }}"
				   name="cleaning" id="cleaning"/>
		</div>
	</div>
</div>