<form action="{{ @BASE.'/user/class/update' }}" validate="true" method="post" class="form-horizontal">
	<div class="form-group">
		<label for="className">Class Name</label>
		<input type="text" class="form-control" required="required" value="{{ @class.className }}" name="className"
			   id="className"/>
	</div>

	<div class="form-row">
		<div class="col-auto">
			<div class="form-group">
				<label for="startTime">Start time</label>
				<select class="form-control" name="startTime" id="startTime">
					<repeat group="{{ @hours }}" key="{{@h}}" value="{{ @hour }}">
						<option value="{{@h}}"
						<check if="{{ @class.startTime == @h }}">
							selected
						</check>
						>
						<check if="{{ @user.timeFormat == 12 }}">
							<true>
								{{ date("g:i A", strtotime(@hour)) }}
							</true>
							<false>
								{{ date("H:i", strtotime( @hour)) }}
							</false>
						</check>
						</option>
					</repeat>
				</select>
			</div>
		</div>
		<div class="col-auto">
			<div class="form-group">
				<label for="finishTime">Finish time</label>
				<select class="form-control" name="finishTime" id="finishTime">
					<repeat group="{{ @hours }}" key="{{@h}}" value="{{ @hour }}">
						<option value="{{@h}}"
						<check if="{{ @class.finishTime == @h }}">
							selected
						</check>
						>
						<check if="{{ @user.timeFormat == 12 }}">
							<true>
								{{ date("g:i A", strtotime(@hour)) }}
							</true>
							<false>
								{{ date("H:i", strtotime( @hour)) }}
							</false>
						</check>
						</option>
					</repeat>
				</select>
			</div>
		</div>
	</div>

	<include if="{{ @class.gameVersion == 2 }}" href="usermajor/class/s2update.html"></include>
	<include if="{{ @class.gameVersion == 3 }}" href="usermajor/class/s3update.html"></include>
	<include if="{{ @class.gameVersion == 4 }}" href="usermajor/class/s4update.html"></include>

	<div class="control-group">
		<div class="">
			<input type="text" name="hptrap" class="hptrap"/>
			<input type="hidden" name="id" value="{{ @class.id }}"/>
			<input type="hidden" name="update" value="update"/>
			<input type="hidden" name="userID" value="{{@SESSION.user[2]}}"/>
			<input type="hidden" name="modified" value="{{ @modified }}"/>
			<button type="submit" name="save" class="btn btn-primary"><i class="fa fa-save mr-2" aria-hidden="true"></i>Save
			</button>
			<a href="{{ @BASE.'/user/majors' }}" class="btn btn-secondary" onclick="window.close();"><i
					class="fa fa-times mr-2" aria-hidden="true"></i>Close</a>
		</div>
	</div>
</form>