<p>Favicon from <a href="https://eddysims.tumblr.com/tagged/download" target="_blank">Eddy Sims</a></p>
<p>Background image - from <a target="_blank" href="https://www.simscommunity.net">Sims Community</a></p>
<p>Randomisers based on <a href="http://www.modthesims.info/d/512487/the-sim-randomizer.html" target="_blank">The Sim
	Randomizer by katrisims</a> - including packaged images</p>
<p>Sims 2 Ultimate Collection icons by <a
		href="https://www.deviantart.com/spiker90910/art/The-Sims-2-Ultimate-Collection-HD-Icon-474634638?d=384"
		target="_blank">Spiker90910
<p>HD Sims 3 icon pack by <a href="https://www.deviantart.com/jadelune/art/The-Sims-3-High-Res-Icon-Pack-445820346"
							 target="_blank">JadeLune @DeviantArt</a></p>
</a></p>


