<div class="jumbotron">
	<h1 class="title display-1">{{@site}}</h1>
	<p>This is a game helper, specifically for players of The Sims series (currently just 2) to keep track of their
		sims, and even keep score of a legacy challenge (more info at <a
				href="https://www.simslegacychallenge.com/legacy-challenge-rules/sims-2-legacy-challenge-rules-advanced/"
				target="_blank">Sims Legacy Challenge</a>).</p>

	<p>This is the first version, which I'm keeping online as a showcase; version 2 is being worked on offline and includes a redesign of the back-end. Will update with link once it's ready for testing.</p>

	<p>Most of the magic happens when you are logged in, so feel free to create an account and have a play &#128578;</p>

	<p>Last updated: 16/11/2022</p>
	<p><b>Finished:</b> Sims 2 Aspiration and family generators; Sims 2 Legacy Scoresheet; Sims 2 tracker (although "view Sim" is incomplete)</p>
	<p><b>WIP:</b> Complete redesign, mainly of database side, to better accommodate Sims 3 and 4. This version is still up for posterity, but works fine for tracking gameplay in Sims 2.</p>
	<p><b>Updated:</b> Fixed bugs with "create hood" and choosing careers in "update Sim". "View Sim" now shows career details (where applicable), including skills and friends needed to progress.</p>
</div>