<div class="nav-scroller position-fixed bg-white shadow-sm w-100">
	<div class="container">
		<nav class="nav nav-underline">
			<a class="navbar-brand" href="#">Tracker menu</a>
			<repeat group="{{ @sims2 }}" key="@s2key" value="{{ @s2item }}">
				<a href="{{@BASE}}{{ @s2key }}"
				<check if="{{ @title == @s2item }}">
					<true>
						class="nav-link active"
					</true>
					<false>
						class="nav-link"
					</false>
				</check>
				>{{ @s2item }}
				<check if="{{ @title == @s2item }}"><span class="sr-only">(current)</span></check>
				</a>
			</repeat>
		</nav>
	</div>
</div>

